<div class="user-details">
  <h1> Последние проекты </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Эпично </h3>
    <ul>
      <li> Выучил модуль Aiogram</li>
    </ul>
    <p>Эпично - это бот для чатов в телеграме. Модерирует чат от спамеров и флудеров.
    Есть возможность добавления своих правил и приветствия, удаления ссылок. Блокировка
     слов, и т.д</p>
    <a class="project-link" href="https://t.me/EpicForChatBot">Посмотреть</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Неизвестный проект </h3>
    <ul>
      <li>Что это за покемон?</li>
    </ul>
    <p>Здесь скоро появиться проект (ну это не точно).⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
    <a class="project-link" href="#">Посмотреть</a>
  </div>
</div>
