 <div class="user-details">
  <h1>Обо мне</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Код</h2>
      <i class="devicon-python-plain"></i>
      <p>Тут еще могло бы быть много иконок что я знаю, но мне лень</p>
    </div>
    <div class="tech">
      <h2>Инструменты</h2>
      <i class="devicon-pycharm-plain"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-heroku-plain colored"></i>
      <p>Для написания кода я использую PyCharm PRO
      Бесплатный хостинг Heroku. Ну и как без GIT</p>
    </div>
</div>